@import "~bootstrap/scss/bootstrap";
@import "config";
@import "links";
@import "menu_cards";
@import "page_details";

body {
	font-family: 'Work-Sans', sans-serif;
	background: $background-color;
  color: $text-color;
}

h2{
	text-transform: uppercase;
	font-weight: bold;
	color:$link-color;
}

.articles{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.navbar{
	background-color: $background-color;
	
}



