@import "~bootstrap/scss/bootstrap";
@import "config";
@import "links";
@import "menu_cards";
@import "page_details";

body {
	font-family: 'Work-Sans', sans-serif;
	background: $background-color;
  color: $text-color;
}

h2{
	text-transform: uppercase;
	font-weight: bold;
	color:$link-color;
}

.articles{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.navbar{
	background-color: $background-color;
	#game_search_form{
		.search-input{
			display: flex;
			flex-wrap: nowrap;
			border-radius: 20px;
			border:solid 1px fade($text-color);
			background-color: transparent;
			padding-right:10px;
			input{
				border-radius: 20px;
				background-color: transparent;
				border:none;
				flex-shrink: 2;
				&::placeholder{
					color:fade($text-color);
				}
				&, select, textarea{
					color:$text-color
				}
			}
		}
	}
}



